<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles_1.css') }}">
</head>
<body>
  <header style="text-align: center;">
    <img src="{{ url_for('static', filename='profile-picture.png') }}" alt="My Name" class="profile-img">
    <h2>Daniel Jonsson</h2>  
    <p>Head of DevOps</p>
  </header>
  <main style="text-align: center;">
  <button id="promptButton">Modality</button>
  <div class="input-box">
    <input type="text" id="input" onkeyup="translate()" />
  </div>
  <div class="output-box">
    <input type="text" id="output" disabled />
  </div>
  <div class="bio">        
    <p>  
    <h3>About Me</h3>          
    <p>My strength is my vitality and I love exercise. I use Github secrets instead of Pangea Vault action. Codepen is useless for specific CDNs. Outcome was leads but process was AWS. I was on step 8 out of 16 on the Cloud Resume Challenge after my NLP research project.</p>
    <p>Visitors: <span id="counter">0</span></p>
  </div>
  <div class="projects">
  <p>
  <h3>Resume</h3>
  <ul>
    <p><a href="#">Rest my writing</a></p>
    <p><a href="#">Alert treshold for Reddit bots</a></p>
    <p><a href="#">Lead pipeline with serverless endpoints</a></p>
  <p>
  </ul>
  </div>
  </main>
  <script src="{{ url_for('static', filename='act3.js') }}"></script>
  <script src="{{ url_for('static', filename='act2.js') }}"></script>
  <script src="{{ url_for('static', filename='act.js') }}"></script>
</body>
</html
